.optionCard {
  position: relative;

  img:nth-child(1) {
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 29%) 0px 3px 6px;
    margin-bottom: 6px;
    width: 268px;
    height: 150px;
  }

  img:nth-child(2) {
    position: absolute;
    bottom: calc(50% - 30px);
    left: calc(50% - 30px);
  }
}
