@import "../../styles/variables";

.navBar {
  .navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background-color: $white;
    z-index: 100;
    border-bottom: 1px solid rgb(239, 241, 247);
  }

  .linkContainer {
    display: flex;
    gap: 28px;
  }
}
