@import "../../styles/variables";

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 18px 20px;
  background-color: $white;
  z-index: 100;

  .linkContainer {
    display: flex;
    gap: 28px;
  }
}
