.progressBar {
  // height: 40px;
  // width: 40px;
  // border: 5px solid darkgray;
  // border-radius: 360%;
  .svg-indicator {
    width: 100px;
    height: 100px;
  }
  .svg-indicator-track,
  .svg-indicator-indication {
    cx: 50px;
    cy: 50px;
    r: 40px;
    fill: transparent;
    stroke-width: 10px;
  }

  .svg-indicator-track {
    stroke: #ddd;
  }

  .svg-indicator-indication {
    stroke: #07c;
    width: 20px;
  }
}
